<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAgeTunes - Admin</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: white !important;
        }
    </style>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
                <th>Date</th>
                <th>Action</th> <!-- Add a new column for the delete button -->
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function (user) { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.password %></td>
                    <td><%= user.role %></td>
                    <td><%= user.date %></td>
                    <td>
                        <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Delete</button>
                          </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <button class="button-17" role="button" style="margin-left: 50%;"> <a href="/users/logout">Logout</a></button>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
